* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.vh-100 {
    min-height: 100vh;
}

.d-flex {
    display: flex;
}

.align-item-center {
    align-items: center;
}

.justify-content-center {
    justify-content: space-around;
}

.flex-direction {
    flex-direction: column;
}

.circle {
    width: 450px;
    height: 450px;
    border: 2px solid black;
    border-radius: 50%;
}

.btn {
    padding: 15px;
    border-radius: 15px;
    background-color: aqua;
    font-size: 25px;
}

.btn:hover {
    background-color: aquamarine;
}

.circle.on {
    background-color: yellow;
    box-shadow: 0 0 40px 25px rgb(248, 71, 71);
    border: yellow;
    
}